*.iml
.gradle
.idea
app/build
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/.name
/.idea/gradle.xml
/app/keystore/key_store.jks
/app/keystore/key_store_password.txt
/app/keystore/private_key.pepk
app/libs/
app/release/
